---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/main.css %}

div.vis-item , p.py3{
     background-color:#03acf6;
     color: white;
}


div.vis-item.py2, p.py2 {
      background-color: #3dbf18;
      border-color: #3dbf18;
      color:white; 

}

p.py2:first-child, p.py3:first-child{
    margin-top: 0px;
    margin-bottom: 5px;

}

div.vis-item.vis-selected {
  background-color: #e8aa2c;
  border-color: #bf8a1e;
}

/* create a custom sized dot at the bottom of the red item */
.vis-item.red {
      background-color: red;
      border-color: darkred;
      color: white;
      font-family: monospace;
      box-shadow: 0 0 10px gray;
}

.center ul {
    list-style: none;
}

.vis-timeline {
  text-align: left;
}

/* hardcode the calendar which is on a clear background to a darker gray that matches the font color.*/
.fa-calendar {
    color: #868686;
}

.subtlecircle .fa-stack-1x{
    font-size: 80%;
}

#sections30-projects ul:nth-child(2) a {
    text-decoration: none;
}


#sections30-projects li {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 19px;
}


#sections30-projects li a > img{
    margin: auto;
    margin-bottom:10px;
    display: block;
    max-height: 80px;
    max-width: 160px;
    vertical-align: middle;
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    ransition: 250ms filter linear;
    -webkit-transition : -webkit-filter 250ms linear
}

#sections30-projects li a > img:hover{
    
    filter: none;
    -webkit-filter: none;
}


