---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/main.css %}

div.vis-item {
     background-color:#03acf6;
     color: white;
}


div.vis-item.py2 {
      background-color: #3dbf18;
      border-color: #3dbf18;
}

div.vis-item.vis-selected {
  background-color: #e8aa2c;
  border-color: #bf8a1e;
}

/* create a custom sized dot at the bottom of the red item */
.vis-item.red {
      background-color: red;
      border-color: darkred;
      color: white;
      font-family: monospace;
      box-shadow: 0 0 10px gray;
}

.center ul {
    list-style: none;
}

.vis-timeline {
  text-align: left;
}

/* hardcode the calendar which is on a clear background to a darker gray that matches the font color.*/
.fa-calendar {
    color: #868686;
}

/* enable that if too long, but seem to have some rendering issues.*/
/*.p-sections20-projects ul {
    column-count: 3;
    list-style: none;
}*/
